
.login{
  display: flex;
  height: 100vh;
  background-color: #eee;
  
  
}

.login form{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 20em;
  height: 35em;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.137);
  
}

.login form h1 {
  color: #007fb9;
  margin-bottom: 1em;
}

.login form label {
  margin-bottom: 0.7em;
}
.login form input {
  margin-bottom: 1.6em;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  border-width: 0px;
}
.login form button {
  font-size: 16px;
  font-weight: bold;
  background-color: #007fb9;
  color: white;
  height: 30px;
  border-width: 0px;
  border-radius: 16px;
  margin: 10px 0px 20px 0px;
}

.login form button:hover{
  background-color: #015b85;
}
.login form a {
  margin-top: 10px;
  color: #015b85;
}
.login form a:hover{
  text-decoration: underline
}